<!DOCTYPE html>
<html lang="FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panneau de configuration</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles/admin-pannel.css') }}">
    <link rel="icon" href="{{ asset('styles/img/logo.jpg') }}" type="image/jpg">

    <!-- ROGNAGE D'IMAGES -->
    <link href="https://unpkg.com/cropperjs/dist/cropper.min.css" rel="stylesheet">
    <script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>
</head>

<body>
<div class="notification"></div>

<div class="form-container">
    <aside class="sidebar">
        <div class="sidebar-header">
            <h2>Panneau de configuration</h2>
        </div>
        <ul class="sidebar-links">
            <li>
                <a href="#mangas">
                    <i class='bx bx-list-ul' ></i>Liste des mangas
                </a>
            </li>
            <li>
                <a href="#users">
                    <i class='bx bxs-user-detail' ></i>Liste des utilisateurs
                </a>
            </li>
            <li>
                <a href="#orders">
                    <i class='bx bx-cart-alt'></i>Liste des commandes
                </a>
            </li>
            <li>
                <a href="#chiffres">
                    <i class='bx bxs-dollar-circle'></i>Chiffres d'affaires
                </a>
            </li>
            <li>
                <a href="#manga-add">
                    <i class='bx bxs-plus-circle'></i>Ajouter un manga
                </a>
            </li>
            <li>
                <a href="/home" class="sidebar-home-link">
                    <i class='bx bxs-arrow-from-right'></i>{{ 'tab6_title' | trans }}
                </a>
            </li>
        </ul>
            
    </aside>

    <div class="col col-1"></div>
    <div class="col col-2">
        <div class="user-info active" data-section="mangas">
            <div id="cart-items-container">
                <div class="form-title">
                    <span>Liste des mangas</span>
                </div>
                {% for manga in mangas %}
                    <div class="basket-item" data-item-id="{{ manga.id }}">
                        <img src="{{ asset('images/Manga/' ~ manga.image.url) }}" alt="Article" class="item-img">
                        <span class="item-name">{{ manga.name }}</span>
                        <button class="action-btn modify">Modifier</button>
                        <button class="action-btn remove">Supprimer</button>

                        <!-- Boutons pour diminuer et augmenter la quantité -->
                        <span class="item-quantity" data-item-id="{{ manga.id }}">Stock : {{ manga.stock }}</span>

                        <!-- Affichage du prix total pour cet article -->
                        <span class="item-price" data-item-id="{{ manga.id }}" data-price="{{manga.price}}">
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="user-info" data-section="users">
            <div class="form-title">
                <span>Liste des utilisateurs</span>
            </div>
            {% for user in users %}
                {% if user.profilePicture %}
                    {% set profilePicturePath = user.profilePicture.path %}
                {% else %}
                    {% set profilePicturePath = "pp/default.png" %}
                {% endif %}
                <div class="basket-item" data-item-id="{{ user.id }}">
                    <img src="{{ asset(profilePicturePath) }}" alt="Article" class="item-img">
                    <span class="item-name">{{ user.name }}</span>
                        
                    {% if not user.role %}
                        <button class="action-btn remove">Suspendre</button>
                    {% endif %}     
                </div>
            {% endfor %}
        </div>
        <div class="user-info" data-section="orders">
            <div class="form-title">
                <span>Liste des dernières commandes</span>
            </div>
            {% for order in orders %}
                <!-- Conteneur de la commande -->
                <div class="basket-item" data-item-id="{{ order.id }}">
                    <span class="item-name">{{ order.reference }}</span>
                    <span class="item-name">{{ order.user.name }}</span>
                    <span class="item-name">{{ order.createdAt|date('Y-m-d') }}</span>
                    <span class="item-name">{{ order.status.value }}</span>
                    {# Calcul du prix total de la commande en additionnant product_price de chaque orderItem #}
                    {% set totalPrice = 0 %}
                    {% for item in order.orderItems %}
                        {% set totalPrice = totalPrice + item.productPrice %}
                    {% endfor %}
                    
                    <span class="item-name">{{ totalPrice }} €</span> <!-- Affichage du prix total -->
                    <button class="quantity-btn plus" data-order-id="{{ order.id }}"><i class='bx bxs-down-arrow'></i></button>
                </div>

                <!-- Conteneur des articles de la commande -->
                <div class="order-items" id="items-{{ order.id }}" style="display: none;">
                    {% for item in order.orderItems %}
                        <div class="basket-item order-item">
                            <img src="{{ asset('images/Manga/' ~ item.manga.image.url) }}" alt="{{ item.manga.name }}" class="item-img">
                            <span class="item-name-details">{{ item.manga.name }}</span>
                            <span class="item-quantity-details">Quantité : {{ item.quantity }}</span>
                            <span class="item-price-details">Prix : {{ item.productPrice }} €</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="user-info" data-section="chiffres">
            <div class="form-title">
                <span>Chiffres d'affaires</span>
            </div>
            {% for monthData in salesData %}
                <div class="basket-item">
                    <span class="item-name">Mois : {{ monthData.month }}</span>
                    <span class="item-name">Montant total : {{ monthData.total|number_format(2, ',', ' ') }} €</span>
                    <span class="item-name">Mangas distincts vendus : {{ monthData.distinctMangasSold }}</span>
                    <button class="quantity-btn plus-bis" data-month="{{ monthData.month }}"><i class='bx bxs-down-arrow'></i></button>
                </div>

                <!-- Conteneur des détails des mangas vendus -->
                <div class="order-items" id="items-{{ monthData.month }}" style="display: none;">
                    <p>Détails des ventes pour le mois {{ monthData.month }} :</p>
                    {% for item in monthData.items %}
                        <div class="basket-item order-item">
                            <img src="{{ asset('images/Manga/' ~ item.image) }}" alt="{{ item.name }}" class="item-img">
                            <span class="item-name-details">{{ item.name }}</span>
                            <span class="item-quantity-details">Quantité : {{ item.quantity }}</span>
                            <span class="item-price-details">Prix total : {{ item.productPrice|number_format(2, ',', ' ') }} €</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>



    </div>
</div>
<script src="{{ asset('script/admin-pannel.js') }}"></script>
    
</body>
{% include 'partials/footer.html.twig' %}




