{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Accueil - Manga Mania</title>
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
    <link rel="icon" href="{{ asset('styles/img/logo.jpg') }}" type="image/jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    {% include 'partials/header.html.twig' %}

    <br>
    <br>
    <br>
    {% include 'partials/notifications.html.twig' %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <script>
            let notifications = document.querySelector('.notification');
            function createToast(type, icon, title, text) {
                let newToast = document.createElement('div');
                newToast.innerHTML = `
                    <div class="toast ${type}">
                        <i class="${icon}"></i>
                        <div class="content">
                            <div class="title">${title}</div>
                            <span>${text}</span>
                        </div>
                        <i id ="cross" class="fa-solid fa-xmark" onclick="this.parentElement.remove()"></i>
                    </div>`;
                notifications.appendChild(newToast);
                newToast.timeOut = setTimeout(() => newToast.remove(), 5000);
            }

            let type = 'error'; 
            let icon = 'fa-solid fa-circle-xmark'; 
            let title = "{{ 'error_title' | trans }}"; 
            let text = "{{ 'error_text' | trans }}"; 

            createToast(type, icon, title, text);
        </script
    {% endif %}
    <br>
    <br>
    <br>

    <main>
        <div class="search-bar">
            <input type="text" id="search" placeholder="Rechercher un manga..." autocomplete="off">
        </div>

        <div class="manga-grid">
           {% for manga in mangas %}
                {% set border_classes = ['red', 'orange', 'yellow', 'green', 'blue'] %}
                {% set border_class = border_classes[(loop.index0 % 5)] %}
    
                <div class="manga-card {{ border_class }}">
                    <a class="manga_details" href='/manga/{{manga.link}}'>
                        <img src="{{ asset('images/Manga/' ~ manga.image.url) }}" alt="{{ manga.name }}">                    
                        <h2>{{ manga.name }}</h2>
                        {% if manga.stock > 0 %}
                            <p class="price">{{ manga.price }}€</p>
                        {% else %}
                            <p class="price">Indisponible</p>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>
    {% include 'partials/footer.html.twig' %}
    <script src="{{ asset('script/home.js') }}"></script>
</body>
</html>
