<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter - Manga Mania</title>
    <link rel="icon" href="{{ asset('styles/img/logo.jpg') }}" type="image/jpg">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">   
    <link rel="stylesheet" href="{{ asset('styles/login-register.css') }}">



</head>
<body>

    <!-- Affichage d'un message d'erreur si les identifiants sont incorrects -->
    <div class="notification"></div>
    {% if error %}
            <script>;
                let notifications = document.querySelector('.notification');

                function createToast(type, icon, title, text) {
                    let newToast = document.createElement('div');
                    newToast.innerHTML = `
                        <div class="toast ${type}">
                            <i class="${icon}"></i>
                            <div class="content">
                                <div class="title">${title}</div>
                                <span>${text}</span>
                            </div>
                            <i id ="cross" class="fa-solid fa-xmark" onclick="this.parentElement.remove()"></i>
                        </div>`;
                    notifications.appendChild(newToast);
                    newToast.timeOut = setTimeout(() => newToast.remove(), 5000);
                }

                let type = 'error'; // Changez le type pour afficher une erreur
                let icon = 'fa-solid fa-circle-xmark'; // Icône d'erreur
                let title = 'Erreur'; // Titre pour l'erreur
                let text = '{{ error }}'; // Utilisez le message d'erreur ici

                if(text = "Bad credentials.") {
                    text = "Adresse mail ou mot de passe incorrect";
                }

                createToast(type, icon, title, text);
        </script>
    {% endif %}

    <div class="form-container">
        <div class="col col-1">
            <div class="image-layer">
                <img src="{{ asset('styles/img/firefly.png') }}" alt="firefly.jpg" class="form-image-main">
            </div>
            <p class="featured-words">Trouve ton manga préféré sur <span>Manga Mania</span></p>
        </div>

        <div class="col col-2">
            <div class="btn-box">
                <button class="btn btn-1" id="login">Se connecter</button>
                <button class="btn btn-2" id="register">S'inscrire</button>
            </div>

            <!-- LOGIN FORM -->
            <div class="login-form">
                <div class="form-title">
                    <span>Se connecter</span>
                </div>
                <form action="{{ path('app_login') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> <!-- Générer et inclure le token CSRF -->
                    <div class="form-inputs">
                        <div class="input-box">
                            <input type="email" name="email" class="input-field" placeholder="Adresse Mail" value="{{ last_username|default('') }}" required>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="input-box">
                            <input type="password" name="password" class="input-field" placeholder="Mot de passe" required>
                            <i class="bx bx-lock-alt icon"></i>
                        </div>
                        <div class="forgot-pass">
                            <a href="#">Mot de passe oublié?</a>
                        </div>
                        <div class="input-box">
                            <button class="input-submit">
                                <span>Se connecter</span>
                                <i class="bx bx-right-arrow-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="social-login">
                    <i class="bx bxl-google"></i>
                    <i class="bx bxl-facebook"></i>
                    <i class="bx bxl-twitter"></i>
                    <i class="bx bxl-github"></i>
                </div>
            </div>

            <!-- REGISTER FORM -->
            <div class="register-form">
                <div class="form-title">
                    <span>Créer un compte</span>
                </div>
                <div class="form-inputs">
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Adresse Mail" required>
                        <i class="bx bx-envelope icon"></i>
                    </div>

                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Mot de passe" required>
                        <i class="bx bx-lock-alt icon"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Confirmer le mot de passe" required>
                        <i class="bx bx-lock-alt icon"></i>
                    </div>
                    <div class="input-box">
                        <button class="input-submit">
                            <span>S'inscrire</span>
                            <i class="bx bx-right-arrow-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="social-login">
                    <i class="bx bxl-google"></i>
                    <i class="bx bxl-facebook"></i>
                    <i class="bx bxl-twitter"></i>
                    <i class="bx bxl-github"></i>
                </div>
            </div>
        </div>
    </div>




    <script src="{{ asset('script/login-register.js') }}"></script>
</body>
</html>