<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'login' | trans }} - Manga Mania</title>
    <link rel="icon" href="{{ asset('styles/img/logo.jpg') }}" type="image/jpg">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">   
    <link rel="stylesheet" href="{{ asset('styles/login-register.css') }}">
</head>
<body>

    <!-- Affichage d'un message d'erreur si les identifiants sont incorrects -->
    {% include 'partials/notifications.html.twig' %}

    <div class="form-container">
        <div class="col col-1">
            <div class="image-layer">
                <a href="/home">
                    <img src="{{ asset('styles/img/firefly.png') }}" alt="firefly.jpg" class="form-image-main">
                </a>
            </div>
            <p class="featured-words">{{ 'welcome_message' | trans }}</p>
            <span>Manga Mania</span>
        </div>

        <div class="col col-2">
            <div class="btn-box">
                <button class="btn btn-2" id="register">{{ 'register' | trans }}</button>
                <button class="btn btn-1" id="login">{{ 'login' | trans }}</button>
            </div>

            <!-- LOGIN FORM -->
            <div class="login-form">
                <div class="form-title">
                    <span>{{ 'login' | trans }}</span>
                </div>
                <form action="{{ path('app_login') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-inputs">
                        <div class="input-box">
                            <input type="email" name="mail" class="input-field" placeholder="{{ 'email_placeholder' | trans }}" value="{{ last_username|default('') }}" required>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="input-box">
                            <input type="password" name="pass" class="input-field" placeholder="{{ 'password_placeholder' | trans }}" required>
                            <i class="bx bx-lock-alt icon"></i>
                        </div>
                        <div class="forgot-pass">
                            <a href="#">{{ 'forgot_password' | trans }}</a>
                        </div>
                        <div class="input-box">
                            <button class="input-submit" id="submit1">
                                <span>{{ 'login' | trans }}</span>
                                <i class="bx bx-right-arrow-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="social-login">
                    <i class="bx bxl-google"></i>
                    <i class="bx bxl-facebook"></i>
                    <i class="bx bxl-twitter"></i>
                    <i class="bx bxl-github"></i>
                </div>
            </div>

            <!-- REGISTER FORM -->
            <div class="register-form">
                <div class="form-title">
                    <span>{{ 'create_account' | trans }}</span>
                </div>
                {{ form_start(registerForm, {'attr': {'id': 'registerForm'}}) }}
                <div class="form-inputs">
                    <div class="input-box">
                        {{ form_widget(registerForm.email, {'attr': {'class': 'input-field', 'id': 'registerMail', 'placeholder': 'email_placeholder' | trans, 'name': 'email'}}) }}
                        <i class="bx bx-envelope icon"></i>
                    </div>

                    <div class="input-box">
                        {{ form_widget(registerForm.name, {'attr': {'class': 'input-field', 'placeholder': 'username_placeholder'| trans, 'name': 'name'}}) }}                            
                        <i class='bx bxs-user-rectangle icon'></i>
                    </div>

                    <div class="input-box">
                        {{ form_widget(registerForm.password, {'attr': {'class': 'input-field', 'id': 'registerPassword', 'placeholder': 'password_placeholder' | trans, 'name': 'password'}}) }}
                        <i class="bx bx-lock-alt icon"></i>
                    </div>

                    <div class="input-box">
                        {{ form_widget(registerForm.confirm_password, {'attr': {'class': 'input-field', 'placeholder': 'confirm_password_placeholder' | trans, 'name': 'confirm_password'}}) }}
                        <i class="bx bx-lock-alt icon"></i>
                    </div>

                    <div class="input-box">
                        <button class="input-submit" id="submit2">
                            <span>{{ 'register' | trans }}</span>
                            <i class="bx bx-right-arrow-alt"></i>
                        </button>
                    </div>
                </div>
                {{ form_end(registerForm) }}
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
    <script src="{{ asset('script/login-register.js') }}"></script>
    <script src="{{ asset('script/notifications.js') }}"></script>
</body>
</html>