<!DOCTYPE html>
<html lang="FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token('delete-card') }}">
    <title>{{ user.name}} - {{ 'profile_text' | trans }}</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles/profile.css') }}">
    <link rel="icon" href="{{ asset('styles/img/logo.jpg') }}" type="image/jpg">

    <!-- ROGNAGE D'IMAGES -->
    <link href="https://unpkg.com/cropperjs/dist/cropper.min.css" rel="stylesheet">
    <script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>
</head>

<body>
    <!-- Variables d'affichage selon la completion du profil -->
    <!-- Mes informations -->
    {% set message = ""%}
    {% set lastname = ""%}
    {% set firstname = ""%}
    
    {% if user.lastname %}
        {% set lastname = user.lastname %}
    {% endif %}

    {% if user.firstname %}
        {% set firstname = user.firstname %}
    {% endif %}

    <!-- Photo de profil -->
    {% if user.profilePicture %}
        {% set profilePicturePath = user.profilePicture.path %}
    {% else %}
        {% set profilePicturePath = "pp/default.png" %}
    {% endif %}

    <!-- Mes coordonnées -->
    {% set address = ""%}
    {% set postal_code = ""%}
    {% set city = ""%}
    {% set country = ""%}

    {% if user.address.street %}
        {% set address = user.address.street %}
    {% endif %}

    {% if user.address.postalCode %}
        {% set postal_code = user.address.postalCode %}
    {% endif %}

    {% if user.address.city %}
        {% set city = user.address.city %}
    {% endif %}

    {% if user.address.country %}
        {% set country = user.address.country %}
    {% endif %}

    <div class="notification">
        <!-- Affichage du message si les données ont bien étés modifiées -->
        {% if success %}
            <script>
                let notifications = document.querySelector('.notification');
                let newToast = document.createElement('div');
                newToast.innerHTML = `
                    <div class="toast success">
                        <i class="fa-solid fa-circle-check"></i>
                        <div class="content">
                            <div class="title">Modifications</div>
                            <span>{{ 'profile_update_text' | trans}}</span>
                        </div>
                        <i id ="cross" class="fa-solid fa-xmark" onclick="this.parentElement.remove()"></i>
                    </div>`;
                notifications.appendChild(newToast);
                newToast.timeOut = setTimeout(() => newToast.remove(), 5000);
            </script>
        {% endif %}
        {% if oldPassError or newPassError %}
            <script>
                let notifications = document.querySelector('.notification');
                let newToast = document.createElement('div');
                newToast.innerHTML = `
                    <div class="toast error">
                        <i class="fa-solid fa-circle-xmark"></i>
                        <div class="content">
                            <div class="title">Erreur</div>
                            <span>{{ 'pass_error' | trans}}</span>
                        </div>
                        <i id ="cross" class="fa-solid fa-xmark" onclick="this.parentElement.remove()"></i>
                    </div>`;
                notifications.appendChild(newToast);
                newToast.timeOut = setTimeout(() => newToast.remove(), 5000);
            </script>
        {% endif %}
        {% if cardExist %}
            <script>
                let notifications = document.querySelector('.notification');
                let newToast = document.createElement('div');
                newToast.innerHTML = `
                    <div class="toast error">
                        <i class="fa-solid fa-circle-xmark"></i>
                        <div class="content">
                            <div class="title">Erreur</div>
                            <span>Vous ne pouvez pas rentrer deux fois la même carte.</span>
                        </div>
                        <i id ="cross" class="fa-solid fa-xmark" onclick="this.parentElement.remove()"></i>
                    </div>`;
                notifications.appendChild(newToast);
                newToast.timeOut = setTimeout(() => newToast.remove(), 5000);
            </script>
        {% endif %}
    </div>

    <div class="form-container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <img src="{{ asset(profilePicturePath) }}" alt="logo">
                <h2>{{ 'profile_text' | trans }} - {{user.name}}</h2>
            </div>
            <ul class="sidebar-links">
                <li>
                    <a href="#informations">
                        <i class='bx bxs-user-circle'></i>{{ 'tab1_title' | trans }}{% if not user.lastname or not user.firstname %} *{% endif %}
                    </a>
                </li>
                <li>
                    <a href="#photo">
                        <i class='bx bxs-image-alt'></i>{{ 'tab2_title' | trans }}
                    </a>
                </li>
                <li>
                    <a href="#coordonnees">
                        <i class='bx bx-building-house'></i>{{ 'tab3_title' | trans }}{% if not user.address.street or not user.address.postalCode or not user.address.city or not user.address.country %} *{% endif %}
                    </a>
                </li>
                <li>
                    <a href="#securite">
                        <i class='bx bxs-lock'></i>{{ 'tab4_title' | trans }}
                    </a>
                </li>
                <li>
                    <a href="#carte">
                        <i class='bx bx-credit-card'></i>{{ 'tab5_title' | trans }}
                    </a>
                </li>
                <li>
                <a href="/home" class="sidebar-home-link">
                    <i class='bx bxs-arrow-from-right'></i>{{ 'tab6_title' | trans }}
                </a>
                    <a id="logout" class="login-link" href="{{ path('app_logout') }}"><i class='bx bx-log-out'></i>{{ 'logout_button' | trans }}</a>
                </li>
            </ul>
            
        </aside>
        <div class="col col-1"></div>
        <div class="col col-2">
            <div class="user-info active" data-section="informations">
                <div class="form-title">
                    <span>{{ 'tab1_title' | trans }}</span>
                </div>
                <div class="form-inputs">
                    {{ form_start(profileForm, {'attr': {'id': 'userProfileForm'}}) }}
                    
                    <div class="input-box">
                        <span class="input-label">{{ 'email_input' | trans }}</span>
                        {{ form_widget(profileForm.email, {'attr': {'class': 'input-field', 'readonly': 'readonly'}}) }}
                        <i class='bx bxs-envelope icon'></i>
                    </div>
                    
                    <div class="input-box">
                        <span class="input-label">{{ 'username_input' | trans }}</span>
                        {{ form_widget(profileForm.name, {'attr': {'class': 'input-field', 'placeholder': 'username_placeholder' | trans}}) }}
                        <i class='bx bxs-user-pin icon'></i>
                    </div>
                    
                    <div class="input-box">
                        <span class="input-label">{{ 'lastName_input' | trans }}</span>
                        {{ form_widget(profileForm.lastname, {'attr': {'class': 'input-field', 'placeholder': 'lastName_placeholder' | trans}}) }}
                        <i class='bx bx-user icon'></i>
                    </div>
                    
                    <div class="input-box">
                        <span class="input-label">{{ 'firstName_input' | trans }}</span>
                        {{ form_widget(profileForm.firstname, {'attr': {'class': 'input-field', 'placeholder': 'firstName_placeholder' | trans}}) }}
                        <i class='bx bx-user icon'></i>
                    </div>
                    
                    <div class="input-box">
                        <button type="submit" class="input-submit">
                            <span>{{ 'tab1_button' | trans }}</span>
                            <i class="bx bx-right-arrow-alt"></i>
                        </button>
                    </div>
                    
                    {{ form_end(profileForm) }}
                </div>
            </div>

            <div class="user-info" data-section="photo">
                <div class="profile-picture-section">
                     <img src="{{ asset(profilePicturePath) }}" alt="Photo de profil" class="profile-picture" id="current-profile-picture">
                     <input type="hidden" id="image-name" value="">

                    <button class="upload-button" onclick="document.getElementById('file-input').click();">{{'upload_button' | trans}}</button>
                    <input type="file" id="file-input" style="display: none;">

                    <div class="crop-container" style="display: none;">
                        <img id="image-to-crop" alt="Image à rogner">
                        <div class="button-container">
                            <button id="crop-button">{{'confirm' | trans}}</button>
                            <button id="cancel-button" onclick="closeCrop()">{{'cancel' | trans}}</button>
                        </div>
                    </div>

                    <button class="save-button">{{'save_button' | trans}}</button>
                </div>
            </div>


            <div class="user-info" data-section="coordonnees">
                <div class="form-title">
                    <span>{{'tab3_title' | trans}}</span>
                </div>
                <div class="form-inputs">                    
                   {{ form_start(addressForm, {'attr': {'id': 'addressForm'}}) }}

                    <div class="input-box">
                        <span class="input-label">{{ 'address_input' | trans }}</span>
                        {{ form_widget(addressForm.street, {'attr': {'class': 'input-field', 'placeholder': 'address_placeholder' | trans, 'name': 'street'}}) }}
                        <i class='bx bxs-home icon'></i>
                    </div>

                    <div class="input-box">
                        <span class="input-label">{{ 'postalCode_input' | trans }}</span>
                        {{ form_widget(addressForm.postalCode, {'attr': {'class': 'input-field', 'placeholder': 'postalCode_placeholder' | trans, 'name': 'postalCode'}}) }}
                        <i class='bx bxs-map icon'></i>
                    </div>

                    <div class="input-box">
                        <span class="input-label">{{ 'city_input' | trans }}</span>
                        {{ form_widget(addressForm.city, {'attr': {'class': 'input-field', 'placeholder': 'city_placeholder' | trans, 'name': 'city'}}) }}
                        <i class='bx bxs-city icon'></i>
                    </div>

                    <div class="input-box">
                        <span class="input-label">{{ 'country_input' | trans }}</span>
                        {{ form_widget(addressForm.country, {'attr': {'class': 'input-field', 'placeholder': 'country_placeholder' | trans, 'name': 'country'}}) }}
                        <i class='bx bxs-flag icon'></i>
                    </div>

                    <div class="input-box">
                        <button type="submit" class="input-submit">
                            <span>{{ 'tab1_button' | trans }}</span>
                            <i class="bx bx-right-arrow-alt"></i>
                        </button>
                    </div>

                    {{ form_end(addressForm) }}
                </div>
            </div>

            
            <div class="user-info" data-section="securite">
                <div class="form-title">
                    <span>{{'tab4_title' | trans}}</span>
                </div>
                <div class="form-inputs">
                    {{ form_start(passwordForm, {'attr': {'id': 'passwordForm'}}) }}
                        <div class="input-box">
                            <span class="input-label">{{'old_pass' | trans}} :</span>
                            {{ form_widget(passwordForm.oldPassword, {'attr': {'class': 'input-field', 'placeholder': 'old_pass' | trans, 'name': 'oldPassword'}}) }}
                            <i class='bx bx-lock-open-alt icon'></i>
                        </div>

                        <div class="input-box">
                            <span class="input-label">{{'new_pass' | trans}} :</span>
                            {{ form_widget(passwordForm.newPassword, {'attr': {'class': 'input-field', 'placeholder': 'new_pass' | trans, 'name': 'newPassword'}}) }}
                            <i class='bx bxs-lock-alt icon'></i>
                        </div>

                        <div class="input-box">
                            <span class="input-label">{{'confirm_pass' | trans}} :</span>
                            {{ form_widget(passwordForm.confirmPassword, {'attr': {'class': 'input-field', 'placeholder': 'confirm_pass' | trans, 'name': 'confirmPassword'}}) }}
                            <i class='bx bx-lock-alt icon'></i>
                        </div>

                        <div class="input-box">
                            <button class="input-submit">
                                <span>{{'confirm_button' | trans}}</span>
                                <i class="bx bx-right-arrow-alt"></i>
                            </button>
                        </div>
                    {{ form_end(passwordForm) }}
                </div>
            </div>
            <div class="user-info" data-section="carte">
                <div class="form-title">                            
                    <span>Moyens de paiements</span>
                </div>
                {% for card in cards %}
                    <!-- Option de paiement par carte {{ loop.index }} -->
                    <div class="payment-option" id="card-payment-option-{{ loop.index }}">
                        <input type="checkbox" id="card-payment-{{ loop.index }}" class="payment-checkbox">
                        <label for="card-payment-{{ loop.index }}" class="payment-label">
                            Carte de crédit finissant par {{ card.lastDigits }}
                        </label>
                    </div>

                    <!-- Formulaire de paiement par carte {{ loop.index }} -->
                    <div class="payment-form-container" id="card-payment-form-{{ loop.index }}" style="display: none;">
                        <div class="payment-title">
                            <h2>Paiement par carte finissant par {{ card.lastDigits }}</h2>
                        </div>
                        <form>
                            <label class="payment-label" for="card-number-{{ loop.index }}">Numéro de carte</label>
                            <input type="text" id="card-number-{{ loop.index }}" placeholder="Entrez le numéro de carte" value="XXXX-XXXX-XXXX-{{ card.lastDigits }}" readonly>
                            
                            <label class="payment-label" for="expiry-date-{{ loop.index }}">Date d'expiration</label>
                            <input type="text" id="expiry-date-{{ loop.index }}" placeholder="MM/AA" value="{{ card.expirationDate }}" readonly>
                            
                            <label class="payment-label" for="cvv-{{ loop.index }}">CVV</label>
                            <div class="cvv-wrapper">
                                <input type="text" id="cvv-{{ loop.index }}" placeholder="CVV" readonly>
                                <button class="delete-card-btn" data-card-id="{{ card.id }}" type="button" data-csrf-token="{{ csrf_token('delete-card') }}">
                                    <span id="total-price">Supprimer la carte</span>
                                    <i class="bx bx-right-arrow-alt"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                {% endfor %}
                <div class="payment-option" id="card-payment-option-add">
                    <input type="checkbox" id="card-payment-add" class="payment-checkbox">
                    <label for="card-payment-add" class="payment-label">
                        Ajouter une nouvelle carte
                    </label>
                </div>

                <!-- Formulaire d'ajout paiement par carte -->
                <div class="payment-form-container" id="card-payment-form-add" style="display: none;">
                    <div class="payment-title">
                        <h2>Ajout d'une carte</h2>
                    </div>
                    {{ form_start(cardForm, {'attr': {'id': 'cardForm'}}) }}
                        <label class="payment-label" for="card-number-add">Numéro de carte</label>
                        {{ form_widget(cardForm.number, {'attr': {'id': 'card-number-add', 'placeholder': 'number_placeholder' | trans, 'name': 'number'}}) }}
       
                        <label class="payment-label" for="expiry-date-add">Date d'expiration</label>
                        {{ form_widget(cardForm.expirationDate, {'attr': {'id': 'expiry-date-add', 'placeholder': 'date_placeholder' | trans, 'name': 'expiration_date'}}) }}

                        <label class="payment-label" for="cvv-add">CVV</label>
                        <div class="cvv-wrapper">
                            {{ form_widget(cardForm.cvv, {'attr': {'id': 'cvv-add', 'placeholder': 'cvv_placeholder' | trans, 'name': 'cvv'}}) }}
                            <button class="input-submit" type="submit">
                                <span id="confirm">Valider</span>
                                <i class="bx bx-right-arrow-alt"></i>
                            </button>
                        </div>
                    {{ form_end(cardForm) }}
                </div>
            </div>

        </div>
        
        <script>
            const translations = {
                errorTitle: "{{ 'error_title' | trans|e('js') }}",
                errorText: "{{ 'profile_error_text' | trans|e('js') }}",
                PPTitle: "{{ 'profile_picture_title' | trans|e('js') }}",
                PPText: "{{ 'profile_picture_text' | trans|e('js') }}",
            };
        </script>
        <script src="{{ asset('script/profile.js') }}"></script>
        <script src="{{ asset('script/profile_card.js') }}"></script>

    </div>
</body>
{% include 'partials/footer.html.twig' %}


</html>